@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0a0a0a;
  color: rgb(244, 242, 242);
  height: 50vh;
  width: 100%;
}
footer .footer-content {
  width: 100%;
  height: 48vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
}
footer .footer-content .footer-column {
  width: auto;
  max-width: 40%;
  padding: 0 20px;
}
footer .footer-bottom {
  width: 100%;
  text-align: center;
  background-color: #0a0a0a;
}
footer p {
  margin: 10px;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: rgb(244, 242, 242);
}
footer a:hover {
  color: #d1c9c9;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin: 10px;
}
footer img {
  margin: 10px;
  height: 30px;
  padding: 5px;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 12;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(11, 11, 11);
}
header .logo-img {
  width: 300px;
}
header nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
header nav ul a {
  color: rgb(11, 11, 11);
  font-size: 20px;
}
header nav ul a:hover {
  color: #313131;
}
header .left {
  gap: 0.5rem;
  display: flex;
}
header .left i {
  width: 60px !important;
  font-size: 30px;
  color: rgb(11, 11, 11);
}
header .left i:hover {
  color: #313131;
}
header .left .dropdown {
  position: relative;
  display: inline-block;
}
header .left .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #e7e7e7;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  right: 0%;
  transform: translateX(-20%);
}
header .left .dropdown .dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}
header .left .dropdown .dropdown-content a:hover {
  background-color: #bdbdbd;
}
header .left .dropdown .show {
  display: block;
}

@media (max-width: 768px) {
  header .logo-img {
    width: 200px;
  }
  header .logo-img nav {
    display: none;
  }
  header .logo-img nav ul {
    display: none;
  }
  header .left {
    gap: 1rem;
  }
  header .left i {
    font-size: 1rem;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  header .logo-img {
    width: 150px;
  }
  header nav {
    display: none;
  }
  header nav ul {
    display: none;
  }
  .left i {
    font-size: 1rem;
  }
}
.page.container {
  height: 100vh;
}

.container-btn {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-btn .removeAll {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.container-btn .removeAll:hover {
  background-color: #262626;
}

.container {
  padding-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 100px;
  max-height: 100%;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 400px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-item .cart-product {
  display: flex;
  align-items: center;
}
.cart-item .cart-product .cart-img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 15px;
}
.cart-item .cart-product .cart-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-item .cart-product .content h2.cart-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.cart-item .cart-product .content p.cart-price {
  font-size: 14px;
  color: #999;
}
.cart-item button.remove {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.cart-item button.remove:hover {
  background-color: #c3302e;
}

.total-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}
.total-container .subtotal,
.total-container .descuento-container,
.total-container .total {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
}
.total-container .subtotal p,
.total-container .descuento-container p,
.total-container .total p {
  margin: 0;
}
.total-container .subtotal .discount-amount,
.total-container .descuento-container .discount-amount,
.total-container .total .discount-amount {
  color: #4caf50;
}
.total-container .subtotal .total-amount,
.total-container .descuento-container .total-amount,
.total-container .total .total-amount {
  font-weight: 700;
  color: #333;
}
.total-container .buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.total-container .buy-btn .buy {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.total-container .buy-btn .buy:hover {
  background-color: #262626;
}

.coupon-container {
  margin-top: 15px;
}
.coupon-container p {
  font-size: 14px;
  margin-bottom: 5px;
}
.coupon-container .coupon-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.coupon-container .coupon-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}
.coupon-container .coupon-input button.apply-coupon {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.coupon-container .coupon-input button.apply-coupon:hover {
  background-color: #43a047;
}
.coupon-container #coupon-message {
  font-size: 12px;
  color: #f44336;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-top: 50px;
  }
  .cart-item {
    min-width: auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=cart.css.map */
